*.ncu-rep
.DS_store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.eggs/

# IDE-related
.idea/

# Dev
venv

# cuda
*.i
*.ii
*.gpu
*.ptx
*.module_id
*.cubin
*.fatbin
*.fatbin.c
*.o
*.cudafe1.cpp
*.cudafe1.c
*.cudafe1.gpu
*.cudafe1.stub.c

